.container_a{
    width: 1200px;
    margin:0 auto;
}
i{
    font-style: normal;
}
.a_header{
    height: 70px;
}
.header_nav{
    padding:10px 0 15px;
    overflow: hidden;
    /*position: fixed;*/
    position: absolute;
    background: #fff;
    top:0;
    left:0;
    right:0;
}
.header_nav a{
    font-weight: bold;
}
.logo{
    float: left;
}
/*翻折动画*/
.show {
    box-shadow: 0px 0px 5px 0px #888;
    position: fixed;
    animation: trunback 1s;
}
@keyframes trunback {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
a:hover{
    text-decoration: none;
}
a{
    color: #000;
    /*font-weight: bold;*/
}
.header_nav .nav_lists{
    float: right;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}
.header_nav span{
    color: #000;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
}
.nav_item a{
    display: inline-block;
    padding:2px 0;
    height: 22px;
    line-height: 22px;
}
.header_nav .nav_lists .nav_item{
    float: left;
    height: 40px;
    line-height: 40px;
    padding:0 15px;
}
#position{
    margin-right: 50px;
    height: 42px;
}

#login{
    background-color: #E94840;
    padding:2px 6px;
    border-radius: 6px;
    color: #fff;
}

h2 {
    height: 85px;
    line-height: 85px;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
}
.content{
    width: 1200px;
    margin:0 auto;
}
.card{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 232px;
    border: 1px solid #eaeaea;
    margin: 0 2px;
    background: #fff;
    cursor: pointer;
    height: 300px;
    float: left;
}
.card:hover{
    box-shadow: 5px 5px 15px 0 #ccc;
}
.content-left{
    width: 970px;
    float: left;
}
.card-content .card img:nth-child(1){
    width: 210px;
    height: 210px;
    vertical-align: middle;
}
.card-content .card p img:nth-child(1){
    width: 18px;
    height: 17px;
    vertical-align: middle;
}
p.supplier-name{
    height: 26px;
    line-height: 26px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p.supplier-name b{
    font-weight: bold;
}
p.supplier-name img{
    margin-bottom: 5px;
}
p.supplier-info{
    font-size: 12px;
    color: #929292;
    margin-top: 8px;
}
p.supplier-info i{
    float: right;
}
.card-footer{
    width: 100%;
    margin: 0 auto;
    height: 152px;
    clear: both;
    text-align: center;
}
.card-footer span{
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 50px 5px;
    background: #fff;
    display: inline-block;
    font-size: 16px;
    color: #b1b1b1;
    cursor: pointer;
}
.league{
    width: 230px;
    float: right;
}
.league img{
    width: 230px;
    vertical-align: middle;
}
.erweima {
    width: 230px;
    height: 290px;
    background: url('../img/card/tuijianfuwushang_06.jpg') no-repeat center;
    margin-top: 10px;
}
.erweima img {
    width: 130px;
    margin: 50px 0 0 50px;
    vertical-align: middle;
}



/*底部*/
.footer_a {
    background-color: #fff;
    text-align: center;
    float: left;
    width: 100%;
    margin: 0 auto;
}
.footer_a .baozhang {
    padding-top: 60px;
    text-align: center;
}
.footer_a .baozhang h2 {
    font-size: 28px;
    font-weight: 800;
}
.footer_a .baozhang h2 i {
    font-size: 28px;
    font-weight: 800;
    color: #e94840;
}
.footer_a .baozhang p {
    margin-top: 10px;
}
.footer_a .baozhang .ticket-wrap {
    margin-top: 68px;
    text-align: center;
}
.footer_a .baozhang .ticket-wrap .ticket {
    width: 280px;
    display: inline-block;
}
.footer_a .baozhang p {
    margin-top: 10px;
}
.footer_a .cities {
    padding: 50px 40px 15px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.footer_a .cities .city-list dt {
    float: left;
    width: 100px;
    font: bold 13px/1.4 'Microsoft YaHei';
}
.footer_a .cities .city-list dd {
    width: 1100px;
    float: right;
}
.footer_a .cities .city-list dd ul {
    overflow: hidden;
}
.footer_a .cities .city-list dd ul li {
    float: left;
    height: 30px;
    text-align: center;
    width: 100px;
}
.footer_a .beian {
    background-color: #f8f8f8;
    padding: 40px 0 20px;
    width: 100%;
    overflow: hidden;
}
.footer_a .beian p {
    color: #898989;
    font: 200 15px/30px 'Microsoft YaHei';
}